#Credit Risk
pada latihan ini, kita akan mencoba memembuat model untuk memprediksi mana nasabah yang akan gagal bayar dan yang tidak (jenis problemnya 'Binary Classification'). Data  yang digunakan cukup besar, sehingga bisa dibilang ini sebagai latihan dalam memproses Big Data.

Tujuan utamanya adalah membuat model prediksi terkait nasabah yang akan Gagal Bayar dan yang tidak.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# karena filenya cukup berat, jadi kita aplod aja filenya ke sini (ga pake spreadsheet)
!dir

drive  sample_data

In [ ]:
# bikin variable dulu buat ngebaca dataframenya
# df = pd.read_csv("lc_2016_2017.csv")
# df.head()

Cara Upload File CSV dari GDrive

In [ ]:
# import dulu librarynya
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
cr = pd.read_csv('/content/drive/MyDrive/Belajar DA & DS/Kumpulan projek portofolio/Credit Risk/lc_2016_2017.csv')
cr.head()

<ipython-input-112-87d2bd25bd86>:1: DtypeWarning: Columns (18,54) have mixed types. Specify dtype option on import or set low_memory=False.
  cr = pd.read_csv('/content/drive/MyDrive/Belajar DA & DS/Kumpulan projek portofolio/Credit Risk/lc_2016_2017.csv')

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,112435993,NaN,2300,2300,2300.0,36 months,12.62,77.08,C,C1,...,0.0,NaN,1.0,2.0,2315.0,55.0,7100.0,1.0,0.0,2.0
1,112290210,NaN,16000,16000,16000.0,60 months,12.62,360.95,C,C1,...,11078.0,69.0,3.0,5.0,1962.0,94.0,31900.0,0.0,6.0,1.0
2,112436985,NaN,6025,6025,6025.0,36 months,15.05,209.01,C,C4,...,0.0,NaN,1.0,2.0,1950.0,45.0,27700.0,1.0,5.0,3.0
3,112439006,NaN,20400,20400,20400.0,36 months,9.44,652.91,B,B1,...,53566.0,95.0,1.0,2.0,4240.0,60.0,46900.0,1.0,1.0,1.0
4,112438929,NaN,13000,13000,13000.0,36 months,11.99,431.73,B,B5,...,8466.0,72.0,0.0,1.0,2996.0,78.0,7800.0,0.0,0.0,0.0

In [ ]:
cr.shape

(759338, 72)

In [ ]:
cr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 759338 entries, 0 to 759337
Data columns (total 72 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           759338 non-null  int64
 1   member_id                    0 non-null       float64
 2   loan_amnt                    759338 non-null  int64
 3   funded_amnt                  759338 non-null  int64
 4   funded_amnt_inv              759338 non-null  float64
 5   term                         759338 non-null  object
 6   int_rate                     759338 non-null  float64
 7   installment                  759338 non-null  float64
 8   grade                        759338 non-null  object
 9   sub_grade                    759338 non-null  object
 10  emp_title                    708368 non-null  object
 11  emp_length                   708975 non-null  object
 12  home_ownership               759338 non-null  object
 13  annual_inc                   759338 non-null  float64
 14  verification_status          759338 non-null  object
 15  issue_d                      759338 non-null  object
 16  loan_status                  759338 non-null  object
 17  pymnt_plan                   759338 non-null  object
 18  desc                         17 non-null      object
 19  purpose                      759338 non-null  object
 20  title                        736165 non-null  object
 21  zip_code                     759337 non-null  object
 22  addr_state                   759338 non-null  object
 23  dti                          758983 non-null  float64
 24  delinq_2yrs                  759338 non-null  int64
 25  earliest_cr_line             759338 non-null  object
 26  inq_last_6mths               759337 non-null  float64
 27  mths_since_last_delinq       396633 non-null  float64
 28  mths_since_last_record       141179 non-null  float64
 29  open_acc                     759338 non-null  int64
 30  pub_rec                      759338 non-null  int64
 31  revol_bal                    759338 non-null  float64
 32  revol_util                   758821 non-null  float64
 33  total_acc                    759338 non-null  int64
 34  initial_list_status          759338 non-null  object
 35  out_prncp                    759338 non-null  float64
 36  out_prncp_inv                759338 non-null  float64
 37  total_pymnt                  759338 non-null  float64
 38  total_pymnt_inv              759338 non-null  float64
 39  total_rec_prncp              759338 non-null  float64
 40  total_rec_int                759338 non-null  float64
 41  total_rec_late_fee           759338 non-null  float64
 42  recoveries                   759338 non-null  float64
 43  collection_recovery_fee      759338 non-null  float64
 44  last_pymnt_d                 758390 non-null  object
 45  last_pymnt_amnt              759338 non-null  float64
 46  next_pymnt_d                 591423 non-null  object
 47  last_credit_pull_d           759320 non-null  object
 48  collections_12_mths_ex_med   759338 non-null  int64
 49  mths_since_last_major_derog  215105 non-null  float64
 50  policy_code                  759338 non-null  int64
 51  application_type             759338 non-null  object
 52  annual_inc_joint             34003 non-null   float64
 53  dti_joint                    34001 non-null   float64
 54  verification_status_joint    34003 non-null   object
 55  acc_now_delinq               759338 non-null  int64
 56  tot_coll_amt                 759338 non-null  float64
 57  tot_cur_bal                  759338 non-null  float64
 58  open_acc_6m                  759276 non-null  float64
 59  open_il_12m                  759277 non-null  float64
 60  open_il_24m                  759277 non-null  float64
 61  mths_since_rcnt_il           738795 non-null  float64
 62  total_bal_il                 759277 non-null  float64
 63  il_util                      658743 non-null  float64
 64  open_rv_12m                  759277 non-null  float64
 65  open_rv_24m                  759277 non-null  float64
 66  max_bal_bc                   759277 non-null  float64
 67  all_util                     759224 non-null  float64
 68  total_rev_hi_lim             759338 non-null  float64
 69  inq_fi                       759277 non-null  float64
 70  total_cu_tl                  759276 non-null  float64
 71  inq_last_12m                 759276 non-null  float64
dtypes: float64(40), int64(10), object(22)
memory usage: 417.1+ MB

ada beberapa feature yang memiliki data null yang sangat banyak, seperti member_id, desc dan lain2nya.

Target Variable

Dikarenakan project ini untuk mengetahui bad loan (nasabah buruk) & good loan (nasabah baik), maka perlu dibuat feature baru, yaitu target variable yang merepresentasikan bad loan (sebagai 1) dan good loan (sebagai 0)

In [ ]:
# Melihat unique values pada feature loan_status
cr.loan_status.unique()

array(['Current', 'Fully Paid', 'In Grace Period', 'Late (31-120 days)',
       'Late (16-30 days)', 'Charged Off', 'Default'], dtype=object)

In [ ]:
# kita klasifikasikan, yang Bad Loan itu yang

# Membuat feature baru yaitu good_bad sebagai target variable,
# Jika loan_statusnya 'Charged Off', 'Default', 'Late (31-120 days)', 'Late (16-30 days)'
# akan dianggap sebagai bad_loan atau 1 dan nilai selain itu akan dianggap good loan atau 0

def good_bad(row):
    if row['loan_status'] in ['Charged Off', 'Default', 'Late (31-120 days)', 'Late (16-30 days)']:
        return 1
    else:
        return 0

In [ ]:
cr['good_bad'] = cr.apply(good_bad, axis=1)
cr.good_bad.value_counts()

good_bad
0    702875
1     56463
Name: count, dtype: int64

In [ ]:
# cek distribusinya, normal apa ngga
cr.good_bad.value_counts(normalize=True)

good_bad
0    0.925642
1    0.074358
Name: proportion, dtype: float64

ternyata hasilnya bisa kita bilang jomplang (imbalance) yang artinya ga seimbang. data mayoritas berada disekitar nol. uuntuk lebih rincinya, kita perlu cek probabilitas dari tiap datanya. sebelum itu, kita perlu cleaning data dan pilih feature apa saja yang akan digunakan

##Missing Value
karena pada sebelumnya kita tahu bahwa ada beberapa feature yang memiliki missing value yang sangat banyak.
Maka dari itu, feature yang memiliki missing values lebih dari 50% akan di drop, karena jika ingin diisi dengan nilai lain seperti median atau mean, maka errornya akan sangat tinggi. Lebih baik di drop agar tidak membuat model semakin tidak akurat.

In [ ]:
cr.isnull().sum()

id                       0
member_id           759338
loan_amnt                0
funded_amnt              0
funded_amnt_inv          0
                     ...
total_rev_hi_lim         0
inq_fi                  61
total_cu_tl             62
inq_last_12m            62
good_bad                 0
Length: 73, dtype: int64

In [ ]:
# Melihat feature apa saja yang memiliki missing value lebih dari 50%
missing_values = pd.DataFrame(cr.isnull().sum()/cr.shape[0])
missing_values = missing_values[missing_values.iloc[:,0] > 0.50] #<---------- inilah yang mengatur 50% nya
missing_values.sort_values([0], ascending=False)

                                    0
member_id                    1.000000
desc                         0.999978
dti_joint                    0.955223
annual_inc_joint             0.955220
verification_status_joint    0.955220
mths_since_last_record       0.814076
mths_since_last_major_derog  0.716720

In [ ]:
# Drop feature-feature tersebut
# cr.dropna(thresh = cr.shape[0]*0.5, how='all', axis=1, inplace=True) <------ bisa pake ini, tp sya kurang faham

In [ ]:
cr.drop(['member_id', 'desc', 'dti_joint', 'annual_inc_joint',
         'verification_status_joint', 'mths_since_last_record',
         'mths_since_last_major_derog'],
        axis=1, inplace=True)

In [ ]:
# kita cek, udah ilang atau belum
missing_values = pd.DataFrame(cr.isnull().sum()/cr.shape[0])
missing_values = missing_values[missing_values.iloc[:,0] > 0.50] #<---------- inilah yang mengatur 50% nya
missing_values.sort_values([0], ascending=False)

Empty DataFrame
Columns: [0]
Index: []

## Tinjau Data (Balance atau ngga)

In [ ]:
cr.shape

(759338, 66)

In [ ]:
cr.good_bad.value_counts()

good_bad
0    702875
1     56463
Name: count, dtype: int64

ternyata hasilnya imbalance (data tidak seimbang)

In [ ]:
702875/56463

12.44841754777465

data bernilai 0 itu 12x lipatnya yang 1

solusinya, kita akan buat data tersebut supaya seimbang/mendekati seimbang dgn cara menduplikat data yang bernilai 1 sebanyak 12x salinan

In [ ]:
# kumpulkan data good_bad yang bernilai 1, lalu duplikat sebanyak 12x
m = cr[cr['good_bad'] == 1]

In [ ]:
# kita coba duplicate m menjadi 12x
m = pd.concat([m]*12, ignore_index=True)

In [ ]:
m

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,good_bad
0,111897551,20000,20000,20000.0,36 months,18.06,723.66,D,D2,Transportation manager,...,81.0,1.0,1.0,10039.0,100.0,11350.0,1.0,3.0,2.0,1
1,111871350,5000,5000,5000.0,36 months,10.42,162.33,B,B3,Painter,...,71.0,0.0,0.0,1346.0,77.0,2200.0,0.0,2.0,0.0,1
2,110261189,35000,35000,35000.0,60 months,15.05,833.57,C,C4,Sales Agent,...,79.0,2.0,5.0,24857.0,84.0,269800.0,0.0,1.0,6.0,1
3,112179814,15000,15000,15000.0,36 months,30.65,642.13,F,F4,Service Adivsor,...,87.0,3.0,3.0,10614.0,75.0,40900.0,1.0,1.0,9.0,1
4,111076730,11000,11000,11000.0,36 months,10.42,357.12,B,B3,Cdl truck driver,...,41.0,1.0,1.0,7325.0,57.0,12900.0,1.0,0.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
677551,66442993,25000,25000,24800.0,36 months,18.99,916.28,E,E3,Dispatch Manager,...,NaN,NaN,NaN,NaN,NaN,11600.0,NaN,NaN,NaN,1
677552,66492137,5000,5000,5000.0,36 months,15.41,174.34,D,D1,Process Control Inspector,...,NaN,NaN,NaN,NaN,NaN,10200.0,NaN,NaN,NaN,1
677553,65855145,6000,6000,6000.0,36 months,26.77,244.22,G,G1,NaN,...,NaN,NaN,NaN,NaN,NaN,2400.0,NaN,NaN,NaN,1
677554,66421505,24100,24100,24100.0,60 months,18.49,618.43,E,E2,supervisor,...,NaN,NaN,NaN,NaN,NaN,13400.0,NaN,NaN,NaN,1
677555,66141895,14400,14400,14400.0,60 months,13.18,328.98,C,C3,Meatcutter,...,NaN,NaN,NaN,NaN,NaN,18300.0,NaN,NaN,NaN,1

In [ ]:
56463*12

677556

steleh selesai menduplikat data nilai 1, kemudian kita kumpulkan data good_bad yang bernilai 0, lalu gabungkan dgn yang bernilai 1 yang sudah di duplikat tadi.

In [ ]:
n = cr[cr['good_bad'] == 0]

In [ ]:
# gabungkan data m (yang bernilai 1 yang udh diduplikat) dan n (yang benrilai 0)
b = pd.concat([m,n])

# reset index supaya gada index yang bertumpuk
b.reset_index(drop=True, inplace=True)

In [ ]:
b.good_bad.value_counts()

good_bad
0    702875
1    677556
Name: count, dtype: int64

In [ ]:
b.shape

(1380431, 66)

In [ ]:
b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1380431 entries, 0 to 1380430
Data columns (total 66 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   id                          1380431 non-null  int64
 1   loan_amnt                   1380431 non-null  int64
 2   funded_amnt                 1380431 non-null  int64
 3   funded_amnt_inv             1380431 non-null  float64
 4   term                        1380431 non-null  object
 5   int_rate                    1380431 non-null  float64
 6   installment                 1380431 non-null  float64
 7   grade                       1380431 non-null  object
 8   sub_grade                   1380431 non-null  object
 9   emp_title                   1276606 non-null  object
 10  emp_length                  1277609 non-null  object
 11  home_ownership              1380431 non-null  object
 12  annual_inc                  1380431 non-null  float64
 13  verification_status         1380431 non-null  object
 14  issue_d                     1380431 non-null  object
 15  loan_status                 1380431 non-null  object
 16  pymnt_plan                  1380431 non-null  object
 17  purpose                     1380431 non-null  object
 18  title                       1318912 non-null  object
 19  zip_code                    1380430 non-null  object
 20  addr_state                  1380431 non-null  object
 21  dti                         1379944 non-null  float64
 22  delinq_2yrs                 1380431 non-null  int64
 23  earliest_cr_line            1380431 non-null  object
 24  inq_last_6mths              1380430 non-null  float64
 25  mths_since_last_delinq      734938 non-null   float64
 26  open_acc                    1380431 non-null  int64
 27  pub_rec                     1380431 non-null  int64
 28  revol_bal                   1380431 non-null  float64
 29  revol_util                  1379540 non-null  float64
 30  total_acc                   1380431 non-null  int64
 31  initial_list_status         1380431 non-null  object
 32  out_prncp                   1380431 non-null  float64
 33  out_prncp_inv               1380431 non-null  float64
 34  total_pymnt                 1380431 non-null  float64
 35  total_pymnt_inv             1380431 non-null  float64
 36  total_rec_prncp             1380431 non-null  float64
 37  total_rec_int               1380431 non-null  float64
 38  total_rec_late_fee          1380431 non-null  float64
 39  recoveries                  1380431 non-null  float64
 40  collection_recovery_fee     1380431 non-null  float64
 41  last_pymnt_d                1369055 non-null  object
 42  last_pymnt_amnt             1380431 non-null  float64
 43  next_pymnt_d                803349 non-null   object
 44  last_credit_pull_d          1380402 non-null  object
 45  collections_12_mths_ex_med  1380431 non-null  int64
 46  policy_code                 1380431 non-null  int64
 47  application_type            1380431 non-null  object
 48  acc_now_delinq              1380431 non-null  int64
 49  tot_coll_amt                1380431 non-null  float64
 50  tot_cur_bal                 1380431 non-null  float64
 51  open_acc_6m                 1380237 non-null  float64
 52  open_il_12m                 1380238 non-null  float64
 53  open_il_24m                 1380238 non-null  float64
 54  mths_since_rcnt_il          1343124 non-null  float64
 55  total_bal_il                1380238 non-null  float64
 56  il_util                     1209546 non-null  float64
 57  open_rv_12m                 1380238 non-null  float64
 58  open_rv_24m                 1380238 non-null  float64
 59  max_bal_bc                  1380238 non-null  float64
 60  all_util                    1380163 non-null  float64
 61  total_rev_hi_lim            1380431 non-null  float64
 62  inq_fi                      1380238 non-null  float64
 63  total_cu_tl                 1380237 non-null  float64
 64  inq_last_12m                1380237 non-null  float64
 65  good_bad                    1380431 non-null  int64
dtypes: float64(35), int64(11), object(20)
memory usage: 695.1+ MB

##Data Splitting
supaya lebih efisien, kita split dulu data nya diawal, baru lakukan cleaning data.

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
# Membagi data menjadi 80/20 dengan menyamakan distribusi dari bad loans di data test dengan data train.
x = b.drop('good_bad', axis=1)
y = b['good_bad']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.2, stratify= y, random_state=42)

In [ ]:
x.shape

(1380431, 65)

In [ ]:
# kita coba cek, apakah distribusinya sama antara y_train dengan y_test
y_train.value_counts(normalize=True)

good_bad
0    0.509171
1    0.490829
Name: proportion, dtype: float64

In [ ]:
y_test.value_counts(normalize=True)

good_bad
0    0.509169
1    0.490831
Name: proportion, dtype: float64

Distribusi y_test sudah mendekati sama dengan y_train.

##Data Cleaning
pada proses ini, mengingat data Credit Risk yang sangat besar, kemungkinan akan sangat repot jika dikerjakan satu-satu. Maka, kita akan coba langsung cek semuanya, tapi difilter berdasarkan tipenya. (numeric dan categoric)

In [ ]:
for col in x_train.select_dtypes(include= ['object','bool']).columns:
  print(col)
  print(x_train[col].unique())
  print()

term
['36 months' '60 months']

grade
['D' 'C' 'B' 'E' 'F' 'A' 'G']

sub_grade
['D1' 'C5' 'B5' 'B1' 'C1' 'C4' 'D3' 'C2' 'C3' 'E4' 'E1' 'B2' 'D2' 'F1'
 'F2' 'F5' 'E2' 'B3' 'A5' 'B4' 'G3' 'A3' 'D4' 'D5' 'A1' 'A4' 'F3' 'A2'
 'E5' 'F4' 'E3' 'G5' 'G1' 'G4' 'G2']

emp_title
['Yard maintenance' 'Tech 1 maintenance' 'Teacher' ...
 'Vendor Operations Manager' 'drain cleaner' 'Hourly Manager']

emp_length
['5 years' '< 1 year' '10+ years' '6 years' '3 years' '1 year' nan
 '4 years' '8 years' '9 years' '2 years' '7 years']

home_ownership
['RENT' 'MORTGAGE' 'OWN' 'ANY' 'NONE']

verification_status
['Source Verified' 'Not Verified' 'Verified']

issue_d
['Jan-2017' 'May-2017' 'Oct-2016' 'Mar-2016' 'Aug-2017' 'Sep-2017'
 'Aug-2016' 'Jan-2016' 'Apr-2017' 'Jun-2017' 'Feb-2017' 'Mar-2017'
 'Jul-2017' 'Jul-2016' 'Sep-2016' 'Jun-2016' 'Feb-2016' 'Apr-2016'
 'Dec-2016' 'May-2016' 'Nov-2016']

loan_status
['Charged Off' 'Current' 'Fully Paid' 'Late (31-120 days)'
 'Late (16-30 days)' 'In Grace Period' 'Default']

pymnt_plan
['n' 'y']

purpose
['debt_consolidation' 'credit_card' 'home_improvement' 'other' 'medical'
 'small_business' 'major_purchase' 'vacation' 'car' 'house' 'moving'
 'renewable_energy' 'wedding']

title
['Debt consolidation' 'Credit card refinancing' 'Home improvement' 'Other'
 'Medical expenses' nan 'Business' 'Major purchase' 'Vacation'
 'Car financing' 'Home buying' 'Moving and relocation' 'Green loan'
 'Credit Card Consolidation']

zip_code
['656xx' '550xx' '305xx' '400xx' '740xx' '925xx' '912xx' '103xx' '210xx'
 '852xx' '911xx' '760xx' '672xx' '301xx' '281xx' '338xx' '066xx' '781xx'
 '441xx' '117xx' '112xx' '801xx' '223xx' '604xx' '387xx' '378xx' '937xx'
 '300xx' '379xx' '391xx' '538xx' '758xx' '287xx' '482xx' '276xx' '750xx'
 '752xx' '853xx' '934xx' '212xx' '371xx' '346xx' '188xx' '660xx' '894xx'
 '910xx' '032xx' '921xx' '282xx' '115xx' '191xx' '986xx' '109xx' '070xx'
 '917xx' '130xx' '454xx' '684xx' '461xx' '778xx' '463xx' '956xx' '650xx'
 '331xx' '342xx' '614xx' '028xx' '851xx' '207xx' '471xx' '751xx' '531xx'
 '275xx' '802xx' '726xx' '741xx' '395xx' '450xx' '333xx' '601xx' '551xx'
 '065xx' '710xx' '945xx' '365xx' '765xx' '535xx' '278xx' '608xx' '254xx'
 '919xx' '706xx' '019xx' '983xx' '104xx' '244xx' '786xx' '606xx' '600xx'
 '086xx' '474xx' '087xx' '774xx' '913xx' '951xx' '144xx' '442xx' '900xx'
 '773xx' '074xx' '221xx' '837xx' '216xx' '613xx' '992xx' '330xx' '988xx'
 '021xx' '588xx' '335xx' '745xx' '088xx' '681xx' '437xx' '163xx' '972xx'
 '916xx' '151xx' '565xx' '800xx' '430xx' '370xx' '219xx' '780xx' '107xx'
 '186xx' '787xx' '142xx' '010xx' '100xx' '973xx' '860xx' '799xx' '128xx'
 '532xx' '782xx' '349xx' '156xx' '762xx' '170xx' '085xx' '284xx' '950xx'
 '231xx' '402xx' '040xx' '850xx' '483xx' '292xx' '140xx' '290xx' '640xx'
 '302xx' '068xx' '891xx' '906xx' '847xx' '388xx' '324xx' '337xx' '201xx'
 '727xx' '295xx' '605xx' '554xx' '132xx' '981xx' '693xx' '721xx' '481xx'
 '770xx' '446xx' '954xx' '949xx' '922xx' '317xx' '599xx' '020xx' '129xx'
 '303xx' '930xx' '150xx' '026xx' '907xx' '218xx' '334xx' '071xx' '078xx'
 '871xx' '272xx' '484xx' '271xx' '154xx' '685xx' '225xx' '329xx' '064xx'
 '957xx' '037xx' '785xx' '306xx' '596xx' '959xx' '908xx' '327xx' '491xx'
 '434xx' '805xx' '352xx' '347xx' '199xx' '432xx' '017xx' '190xx' '978xx'
 '105xx' '075xx' '193xx' '458xx' '194xx' '015xx' '941xx' '630xx' '187xx'
 '283xx' '030xx' '720xx' '018xx' '960xx' '718xx' '321xx' '080xx' '392xx'
 '553xx' '493xx' '114xx' '680xx' '933xx' '984xx' '923xx' '686xx' '864xx'
 '372xx' '756xx' '177xx' '658xx' '366xx' '747xx' '083xx' '390xx' '234xx'
 '488xx' '566xx' '296xx' '160xx' '178xx' '436xx' '665xx' '380xx' '624xx'
 '397xx' '725xx' '027xx' '451xx' '127xx' '561xx' '473xx' '490xx' '361xx'
 '495xx' '920xx' '341xx' '298xx' '492xx' '208xx' '410xx' '970xx' '420xx'
 '633xx' '832xx' '116xx' '336xx' '222xx' '318xx' '932xx' '293xx' '339xx'
 '373xx' '700xx' '134xx' '121xx' '245xx' '285xx' '467xx' '200xx' '123xx'
 '657xx' '356xx' '544xx' '146xx' '466xx' '440xx' '953xx' '629xx' '902xx'
 '060xx' '029xx' '731xx' '794xx' '625xx' '744xx' '315xx' '905xx' '761xx'
 '113xx' '883xx' '895xx' '328xx' '106xx' '453xx' '679xx' '638xx' '325xx'
 '754xx' '308xx' '748xx' '759xx' '671xx' '076xx' '928xx' '494xx' '044xx'
 '982xx' '769xx' '991xx' '968xx' '707xx' '354xx' '445xx' '767xx' '462xx'
 '540xx' '013xx' '940xx' '967xx' '547xx' '977xx' '537xx' '464xx' '322xx'
 '082xx' '580xx' '054xx' '449xx' '530xx' '056xx' '496xx' '829xx' '935xx'
 '405xx' '061xx' '755xx' '289xx' '857xx' '122xx' '035xx' '386xx' '766xx'
 '641xx' '340xx' '220xx' '198xx' '711xx' '286xx' '184xx' '425xx' '320xx'
 '926xx' '235xx' '173xx' '141xx' '631xx' '084xx' '590xx' '358xx' '619xx'
 '228xx' '499xx' '840xx' '797xx' '344xx' '974xx' '792xx' '763xx' '480xx'
 '012xx' '701xx' '280xx' '993xx' '310xx' '952xx' '206xx' '670xx' '252xx'
 '291xx' '791xx' '073xx' '148xx' '363xx' '166xx' '081xx' '217xx' '664xx'
 '047xx' '939xx' '652xx' '958xx' '980xx' '444xx' '806xx' '062xx' '874xx'
 '175xx' '443xx' '412xx' '653xx' '174xx' '816xx' '403xx' '688xx' '232xx'
 '882xx' '152xx' '185xx' '382xx' '915xx' '833xx' '120xx' '240xx' '985xx'
 '815xx' '183xx' '157xx' '297xx' '072xx' '661xx' '844xx' '634xx' '705xx'
 '460xx' '543xx' '559xx' '736xx' '948xx' '350xx' '545xx' '735xx' '381xx'
 '591xx' '841xx' '176xx' '618xx' '627xx' '038xx' '119xx' '435xx' '708xx'
 '468xx' '880xx' '846xx' '560xx' '273xx' '133xx' '616xx' '615xx' '431xx'
 '211xx' '180xx' '274xx' '233xx' '897xx' '610xx' '549xx' '316xx' '077xx'
 '452xx' '995xx' '470xx' '138xx' '662xx' '955xx' '243xx' '836xx' '377xx'
 '486xx' '783xx' '730xx' '102xx' '855xx' '775xx' '294xx' '041xx' '637xx'
 '843xx' '469xx' '227xx' '873xx' '415xx' '623xx' '226xx' '475xx' '890xx'
 '323xx' '704xx' '790xx' '779xx' '110xx' '394xx' '997xx' '489xx' '639xx'
 '031xx' '069xx' '279xx' '409xx' '593xx' '236xx' '622xx' '229xx' '162xx'
 '189xx' '809xx' '011xx' '576xx' '136xx' '497xx' '165xx' '936xx' '016xx'
 '049xx' '609xx' '362xx' '647xx' '737xx' '572xx' '438xx' '831xx' '314xx'
 '326xx' '351xx' '734xx' '159xx' '067xx' '209xx' '277xx' '944xx' '043xx'
 '139xx' '433xx' '903xx' '996xx' '357xx' '427xx' '238xx' '246xx' '299xx'
 '990xx' '646xx' '924xx' '164xx' '931xx' '393xx' '131xx' '796xx' '651xx'
 '620xx' '042xx' '111xx' '539xx' '423xx' '838xx' '804xx' '360xx' '063xx'
 '654xx' '914xx' '230xx' '118xx' '477xx' '729xx' '224xx' '881xx' '856xx'
 '542xx' '145xx' '408xx' '757xx' '961xx' '793xx' '214xx' '108xx' '414xx'
 '927xx' '241xx' '313xx' '057xx' '137xx' '309xx' '863xx' '645xx' '788xx'
 '447xx' '598xx' '455xx' '456xx' '476xx' '585xx' '050xx' '534xx' '557xx'
 '655xx' '611xx' '270xx' '404xx' '582xx' '564xx' '147xx' '592xx' '422xx'
 '810xx' '724xx' '820xx' '465xx' '772xx' '197xx' '125xx' '014xx' '307xx'
 '586xx' '485xx' '577xx' '448xx' '648xx' '689xx' '691xx' '834xx' '714xx'
 '612xx' '023xx' '195xx' '749xx' '798xx' '172xx' '215xx' '319xx' '898xx'
 '457xx' '859xx' '025xx' '472xx' '946xx' '368xx' '479xx' '359xx' '581xx'
 '124xx' '369xx' '169xx' '784xx' '079xx' '548xx' '607xx' '376xx' '687xx'
 '617xx' '384xx' '182xx' '644xx' '570xx' '374xx' '989xx' '603xx' '594xx'
 '406xx' '668xx' '675xx' '383xx' '421xx' '155xx' '171xx' '135xx' '626xx'
 '541xx' '563xx' '918xx' '776xx' '149xx' '567xx' '722xx' '870xx' '717xx'
 '719xx' '312xx' '242xx' '703xx' '814xx' '746xx' '385xx' '723xx' '822xx'
 '716xx' '597xx' '571xx' '355xx' '046xx' '666xx' '803xx' '101xx' '053xx'
 '583xx' '239xx' '875xx' '498xx' '807xx' '089xx' '674xx' '417xx' '777xx'
 '574xx' '971xx' '712xx' '022xx' '975xx' '824xx' '439xx' '683xx' '795xx'
 '904xx' '153xx' '628xx' '033xx' '826xx' '253xx' '546xx' '635xx' '562xx'
 '143xx' '260xx' '768xx' '587xx' '812xx' '411xx' '739xx' '024xx' '424xx'
 '407xx' '487xx' '478xx' '045xx' '364xx' '999xx' '558xx' '947xx' '167xx'
 '051xx' '764xx' '196xx' '126xx' '237xx' '743xx' '943xx' '835xx' '636xx'
 '979xx' '676xx' '052xx' '401xx' '179xx' '161xx' '678xx' '265xx' '181xx'
 '304xx' '827xx' '261xx' '058xx' '690xx' '168xx' '994xx' '713xx' '669xx'
 '367xx' '267xx' '808xx' '813xx' '048xx' '034xx' '573xx' '602xx' '255xx'
 '811xx' '398xx' '789xx' '413xx' '877xx' '426xx' '090xx' '845xx' '976xx'
 '825xx' '575xx' '728xx' '389xx' '584xx' '248xx' '396xx' '673xx' '247xx'
 '158xx' '667xx' '823xx' '528xx' '288xx' '677xx' '998xx' '039xx' '595xx'
 '094xx' '251xx' '884xx' '556xx' '555xx' '266xx' '263xx' '879xx' '692xx'
 '059xx' '258xx' '418xx' '828xx' '250xx' '738xx' '091xx' '036xx' '878xx'
 '249xx' '962xx' '753xx' '502xx' '259xx' '963xx' '262xx' '942xx' '264xx'
 '865xx' '416xx' '893xx' '830xx' '093xx' '257xx' '569xx' '698xx' '965xx'
 '096xx' '332xx' '098xx' '987xx' '345xx' '966xx' '969xx' '008xx' '311xx'
 '821xx' '872xx' '268xx' '709xx' '256xx' '095xx' '702xx' '343xx' '097xx'
 '092xx' '885xx' '500xx' '525xx' '521xx' '523xx' '506xx' '055xx' '348xx'
 '663xx' '204xx' '510xx' '007xx' '203xx' '854xx' nan '964xx' '696xx'
 '901xx' '353xx' '909xx' '202xx' '694xx' '621xx' '742xx']

addr_state
['MO' 'MN' 'GA' 'KY' 'OK' 'CA' 'NY' 'MD' 'AZ' 'TX' 'KS' 'NC' 'FL' 'CT'
 'OH' 'CO' 'VA' 'IL' 'MS' 'TN' 'WI' 'MI' 'PA' 'NV' 'NH' 'WA' 'NJ' 'NE'
 'IN' 'RI' 'AR' 'LA' 'AL' 'WV' 'MA' 'ID' 'ND' 'OR' 'ME' 'SC' 'UT' 'MT'
 'NM' 'DE' 'DC' 'HI' 'VT' 'WY' 'AK' 'SD']

earliest_cr_line
['May-2007' 'Dec-2007' 'Jan-2001' 'Dec-2002' 'Apr-2009' 'Sep-2006'
 'Dec-1998' 'Oct-1996' 'Oct-2003' 'Aug-2004' 'Aug-1984' 'May-1999'
 'Jan-2008' 'Feb-2006' 'Jan-1993' 'May-2001' 'Oct-2002' 'Feb-2003'
 'May-2003' 'Jan-1999' 'Feb-2004' 'May-1998' 'Jul-2002' 'Feb-2000'
 'Oct-1998' 'Sep-2007' 'Dec-1984' 'Apr-2011' 'Apr-1998' 'Aug-2002'
 'May-2008' 'Jan-2000' 'Jan-1992' 'Mar-1993' 'Jul-1999' 'May-2002'
 'Dec-2000' 'May-2000' 'Jun-2004' 'Nov-1998' 'Sep-2002' 'Jul-1986'
 'Oct-2005' 'Sep-2009' 'Oct-1999' 'Sep-2005' 'Dec-2010' 'Aug-2001'
 'Dec-2001' 'Dec-2003' 'Aug-2006' 'Dec-1997' 'Oct-1994' 'Oct-2007'
 'Mar-2006' 'Nov-2009' 'Nov-1973' 'Apr-2001' 'Aug-1995' 'Aug-2007'
 'Mar-2003' 'Jun-1991' 'Sep-2004' 'Jun-2013' 'Jun-1992' 'Oct-1992'
 'Feb-2005' 'Sep-1992' 'Aug-2008' 'Sep-1997' 'May-2006' 'Oct-1993'
 'Jul-1996' 'Mar-1998' 'Jul-2008' 'Jun-2007' 'Sep-1987' 'Apr-1994'
 'Mar-2001' 'Sep-2008' 'Mar-2010' 'Jan-2005' 'Sep-1999' 'Jul-1997'
 'Nov-2003' 'May-2005' 'Apr-2006' 'Nov-2004' 'Oct-2001' 'Nov-1979'
 'Feb-2002' 'Jun-2006' 'Feb-2008' 'Jul-2006' 'Dec-2004' 'Aug-2011'
 'Nov-2002' 'Aug-2009' 'Oct-1985' 'Nov-1988' 'Nov-2000' 'Apr-2003'
 'Jul-2009' 'Feb-1998' 'Feb-1988' 'Oct-2011' 'Apr-1992' 'Jul-2000'
 'Jun-2002' 'Jan-1991' 'Nov-1995' 'Nov-1999' 'Oct-2006' 'Jun-1989'
 'Sep-2003' 'Jan-2002' 'Sep-1977' 'Oct-2012' 'Nov-2010' 'Mar-2007'
 'May-1994' 'Sep-2001' 'Mar-2002' 'Jun-1995' 'Apr-1996' 'Jul-2001'
 'Jul-2004' 'Sep-1993' 'May-2012' 'Jul-1998' 'Mar-2005' 'Aug-1998'
 'Dec-1992' 'Mar-2011' 'Aug-2005' 'Apr-2004' 'Feb-2009' 'Jan-2004'
 'Sep-1995' 'Mar-2004' 'May-2014' 'Jun-1978' 'Aug-2000' 'Aug-2003'
 'Sep-2011' 'Jul-1988' 'Oct-1995' 'Sep-1994' 'Dec-2005' 'Sep-2000'
 'May-2004' 'Jun-2003' 'Aug-1992' 'Nov-1981' 'Jan-2006' 'Jun-1979'
 'Oct-2004' 'Sep-1990' 'May-2013' 'Mar-1989' 'Feb-1992' 'Feb-1993'
 'Mar-1991' 'Aug-1999' 'Apr-2002' 'May-1990' 'Dec-1988' 'Dec-2006'
 'Aug-2012' 'Nov-2012' 'Feb-1999' 'May-1995' 'Mar-1992' 'Jul-2007'
 'Sep-1985' 'Jun-2011' 'Dec-1986' 'Nov-1997' 'Apr-1986' 'Jul-1995'
 'Nov-1964' 'Feb-1984' 'Jun-2005' 'Nov-1994' 'Jun-1999' 'Jul-2011'
 'Jan-2013' 'Jun-1990' 'Nov-2005' 'Apr-2007' 'Feb-1995' 'Jul-2003'
 'Jan-1996' 'Apr-1985' 'Feb-2007' 'Jul-2005' 'Apr-2005' 'May-1993'
 'Sep-1986' 'Dec-1994' 'Oct-1989' 'Oct-2009' 'Feb-1989' 'Oct-1984'
 'Feb-2001' 'Dec-1991' 'Jun-1988' 'May-1987' 'Jun-2012' 'Jun-1993'
 'Apr-1988' 'Aug-1994' 'Nov-2006' 'Jan-1985' 'Oct-1973' 'Feb-2010'
 'Sep-2010' 'Apr-1990' 'Oct-1997' 'Jan-1983' 'Sep-1984' 'Jan-1990'
 'Jan-2003' 'Dec-1993' 'Apr-2000' 'Feb-1996' 'Oct-1976' 'Jan-2011'
 'Aug-1997' 'Dec-1996' 'Jan-2007' 'Apr-1989' 'Dec-2011' 'Dec-1990'
 'Dec-1987' 'Jun-2008' 'Nov-2008' 'Mar-1997' 'Nov-1989' 'Jun-2009'
 'Mar-1985' 'Jun-2010' 'Jul-1984' 'Mar-1987' 'Jan-1987' 'Oct-2010'
 'Jul-1994' 'Jun-1996' 'Jun-1998' 'Jan-1994' 'Oct-2000' 'May-1996'
 'Nov-1992' 'Aug-1990' 'Nov-1993' 'Feb-1987' 'Mar-2000' 'Dec-1999'
 'Nov-1987' 'Feb-1986' 'Mar-2008' 'Jul-1992' 'Oct-1991' 'Apr-2010'
 'Apr-1993' 'Nov-2011' 'Dec-1983' 'Jan-2012' 'Dec-1972' 'Aug-1989'
 'Jul-2012' 'Jul-1989' 'Mar-1984' 'Oct-1986' 'Mar-1973' 'Apr-1999'
 'May-2010' 'May-2009' 'Sep-1978' 'May-1997' 'May-1991' 'Mar-1982'
 'Aug-1980' 'Jul-1983' 'Sep-1989' 'Oct-1980' 'Aug-1983' 'Feb-2012'
 'Nov-1978' 'Apr-1997' 'Jul-1990' 'Feb-1991' 'Mar-1995' 'Oct-1990'
 'Jul-1991' 'Jan-2009' 'Dec-1989' 'Jun-1994' 'Jun-1984' 'Dec-1995'
 'May-1992' 'Mar-1999' 'Oct-1987' 'Feb-2011' 'Nov-2001' 'Feb-1985'
 'Mar-2012' 'Oct-2008' 'Sep-1991' 'Jul-1979' 'Jul-1993' 'Jan-1998'
 'Sep-1983' 'Jan-1986' 'Apr-2008' 'Mar-1994' 'May-1964' 'Nov-1991'
 'Mar-2009' 'Aug-2010' 'Jul-1985' 'Apr-1995' 'Aug-1985' 'Apr-1991'
 'Mar-1996' 'Sep-1998' 'Nov-2007' 'Nov-2013' 'Feb-1990' 'Jan-2010'
 'Nov-1996' 'Jun-1970' 'Aug-1986' 'Jul-1987' 'Jan-1997' 'Feb-1975'
 'May-1988' 'Jun-2001' 'Aug-1981' 'Aug-1996' 'Feb-1979' 'Jun-2000'
 'Sep-1996' 'May-1981' 'Jan-1980' 'Aug-1987' 'May-2011' 'Jan-1982'
 'Sep-1981' 'Aug-1979' 'Jan-1965' 'Dec-2012' 'Dec-1985' 'Jun-1997'
 'Jan-1988' 'May-1982' 'Aug-1991' 'Jul-1973' 'Mar-1986' 'May-1980'
 'Apr-1981' 'Apr-1970' 'Oct-1964' 'May-1984' 'Dec-2009' 'Aug-1982'
 'Jul-1977' 'Apr-1973' 'Mar-1979' 'Jan-1995' 'Jan-1967' 'Aug-1993'
 'Feb-1994' 'Mar-1990' 'Jun-1973' 'Mar-1983' 'Dec-2008' 'Nov-1977'
 'Dec-1976' 'Dec-1979' 'Aug-1972' 'Jun-1985' 'Sep-2013' 'Apr-1979'
 'Jul-2010' 'Feb-1997' 'Sep-1975' 'May-1985' 'Dec-1980' 'Nov-1983'
 'Nov-1976' 'Nov-1982' 'Apr-1963' 'Sep-2012' 'Dec-1964' 'Nov-1990'
 'Feb-1980' 'Jan-1981' 'Mar-2013' 'Feb-1983' 'Jan-1977' 'May-1970'
 'Sep-1988' 'Aug-1977' 'Jan-1978' 'Feb-1982' 'May-1986' 'Mar-1970'
 'Jan-1989' 'Jan-1973' 'May-1978' 'Oct-1979' 'Feb-2013' 'Apr-1984'
 'Nov-1986' 'Apr-1980' 'Mar-1971' 'Jun-1986' 'Jan-1984' 'Mar-1988'
 'Sep-1967' 'Mar-1980' 'Jun-1972' 'May-1977' 'Jan-1975' 'Dec-1982'
 'Mar-1978' 'Jun-1964' 'Oct-1988' 'Dec-1977' 'Aug-2013' 'Feb-1978'
 'Jan-1963' 'Feb-1981' 'Jan-1970' 'Jan-2014' 'Apr-1987' 'May-1989'
 'Dec-2013' 'Apr-1976' 'Sep-1971' 'Feb-2014' 'Nov-1984' 'Apr-2013'
 'Dec-1974' 'Mar-1968' 'Jul-1978' 'Sep-1969' 'Oct-2013' 'Sep-1979'
 'May-1971' 'Sep-1973' 'Jun-1987' 'Jun-1975' 'Apr-1972' 'Mar-1975'
 'Oct-1982' 'Jan-1976' 'Aug-1968' 'Apr-2012' 'Jun-1976' 'Feb-1969'
 'Jul-1980' 'Mar-1977' 'Nov-1985' 'May-1979' 'Apr-1983' 'Jul-1962'
 'Apr-1982' 'May-1976' 'Jun-1969' 'Sep-1980' 'Jul-2013' 'Mar-2014'
 'Aug-1978' 'May-1969' 'Aug-1988' 'Dec-1973' 'Oct-1983' 'Jan-1979'
 'Aug-1976' 'Dec-1981' 'Aug-1973' 'Jan-1961' 'Jul-1976' 'Jun-1981'
 'May-1975' 'Oct-1974' 'Jun-1982' 'Oct-1972' 'May-1983' 'Oct-1978'
 'Nov-1980' 'Apr-1969' 'Oct-1977' 'Sep-1976' 'Feb-1972' 'Jul-1982'
 'Apr-1977' 'Feb-1976' 'Apr-1975' 'Nov-1971' 'Aug-1975' 'Feb-1974'
 'Jul-1972' 'Oct-1968' 'Mar-1972' 'Jun-1968' 'Nov-1974' 'Mar-1981'
 'Mar-1976' 'Jan-1964' 'Jun-1962' 'Nov-1972' 'Apr-2014' 'Jun-1983'
 'Dec-1967' 'Jun-1966' 'Jul-1975' 'Nov-1961' 'Jan-1972' 'Jun-1974'
 'Apr-1966' 'Feb-1973' 'Aug-1971' 'Dec-1966' 'Jan-1968' 'Dec-1978'
 'May-1974' 'Aug-1974' 'Feb-1977' 'Sep-1970' 'Jul-1968' 'Nov-1975'
 'Nov-1966' 'Jan-1974' 'Apr-1978' 'Jul-1966' 'Oct-1975' 'Jul-1981'
 'Feb-1965' 'Sep-1966' 'Nov-1970' 'Nov-1965' 'Jun-1977' 'May-1973'
 'Oct-1981' 'Oct-1970' 'Apr-1974' 'Dec-1970' 'Sep-1982' 'Jan-1962'
 'Jan-1971' 'Dec-1971' 'Sep-1972' 'Dec-1962' 'Oct-1966' 'Oct-1967'
 'Nov-1968' 'Jul-1971' 'Jul-1969' 'Mar-1974' 'Jun-1980' 'Apr-1967'
 'Jun-1963' 'Sep-1974' 'Oct-1971' 'Jan-1969' 'Apr-1968' 'Mar-1967'
 'May-1972' 'Aug-1967' 'Feb-1970' 'Nov-1969' 'Feb-1968' 'Jul-1974'
 'Jun-1965' 'May-1966' 'Feb-1971' 'Jul-2014' 'Aug-1970' 'Sep-1968'
 'Feb-1964' 'Feb-1967' 'Oct-1969' 'Jun-2014' 'Jul-1970' 'Aug-1969'
 'Nov-1959' 'Dec-1969' 'Mar-1955' 'Dec-1975' 'Nov-1963' 'May-1961'
 'Mar-1965' 'Dec-1968' 'Jan-1959' 'Jun-1971' 'Sep-1965' 'Aug-1966'
 'Mar-1969' 'Apr-1971' 'May-1963' 'Jan-1966' 'Jul-1967' 'Aug-1963'
 'Jul-1965' 'Sep-1964' 'Nov-1967' 'Jul-1963' 'May-1962' 'Sep-1962'
 'Apr-1964' 'Mar-1964' 'Jan-1960' 'Aug-1960' 'Sep-1961' 'Mar-1961'
 'Jun-1967' 'Oct-1965' 'Aug-1965' 'Jan-1952' 'May-1968' 'Aug-2014'
 'Jan-1958' 'Dec-1965' 'Oct-1962' 'Apr-1965' 'Apr-1961' 'Jan-1955'
 'Mar-1966' 'Feb-1966' 'May-1967' 'Jan-1953' 'Apr-1934' 'Jul-1964'
 'May-1958' 'Mar-1933' 'Feb-1934' 'Mar-1963' 'Oct-1963' 'May-1959'
 'Jan-1950' 'Jun-1957' 'Feb-1960' 'Oct-1961' 'Jun-1960' 'Apr-1960'
 'May-1960' 'Mar-1959' 'Apr-1962' 'Aug-1961' 'Nov-1962' 'Jan-1957'
 'Oct-1958' 'Sep-1963' 'Jan-1956' 'Aug-1964' 'Jun-1961' 'Jul-1961'
 'Dec-1946' 'Jan-1951' 'Feb-1959' 'Feb-1963' 'Aug-1959' 'Nov-1957'
 'Aug-1958' 'Dec-1963' 'Mar-1957' 'Jun-1958' 'Aug-1962' 'May-1965'
 'Jul-1958' 'Aug-1957' 'Aug-1941' 'Jul-1951' 'Nov-1952' 'Dec-1958'
 'Dec-1959' 'Apr-1958' 'Jul-1959' 'Feb-1962' 'Dec-1956' 'Dec-1960'
 'Oct-1960' 'Feb-1961' 'Mar-1962' 'Jun-1959' 'Feb-1945' 'Mar-1960'
 'Jul-1960']

initial_list_status
['w' 'f']

last_pymnt_d
['Mar-2017' 'Dec-2017' 'May-2017' 'Aug-2016' nan 'Nov-2017' 'Nov-2016'
 'Aug-2017' 'Sep-2017' 'Apr-2017' 'Jul-2017' 'Oct-2017' 'Jun-2017'
 'Apr-2016' 'Oct-2016' 'Feb-2017' 'Jul-2016' 'Jan-2017' 'Dec-2016'
 'Sep-2016' 'May-2016' 'Jun-2016' 'Feb-2016' 'Mar-2016' 'Jan-2016']

next_pymnt_d
[nan 'Jan-2018' 'Feb-2018' 'Dec-2017']

last_credit_pull_d
['Sep-2017' 'Dec-2017' 'Oct-2017' 'Jul-2017' 'Mar-2017' 'Nov-2017'
 'Aug-2017' 'Nov-2016' 'May-2017' 'Jun-2017' 'Apr-2017' 'Feb-2017'
 'Dec-2016' 'Oct-2016' 'Jan-2017' 'Aug-2016' 'Jul-2016' 'Feb-2016'
 'Apr-2016' 'Jun-2016' 'Mar-2016' 'May-2016' 'Sep-2016' nan 'Jan-2016'
 'Dec-2015']

application_type
['Individual' 'Joint App']

In [ ]:
# kesimpulannya, berikut kolom/feature yang harus di cleaning
col_need_to_clean = ['term', 'emp_length', 'issue_d', 'earliest_cr_line', 'last_pymnt_d',
                    'next_pymnt_d', 'last_credit_pull_d']

###kolom 'term'

In [ ]:
# Menghilangkan ' months' menjadi '' (ngapus keterangan months nya)
x_train['term'].str.replace(' months', '')

345211     36
741379     36
1248925    36
610328     36
187906     36
           ..
24027      36
458450     60
1292095    36
1028377    60
82242      36
Name: term, Length: 1104344, dtype: object

In [ ]:
# Convert data type menjadi numeric
x_train['term'] = pd.to_numeric(x_train['term'].str.replace(' months', ''))

In [ ]:
# lakukan hal yang sama pada x_test
x_test['term'].str.replace(' months', '')
x_test['term'] = pd.to_numeric(x_test['term'].str.replace(' months', ''))

In [ ]:
x_test.term.head()

127029     36
236567     36
183902     36
126091     36
1335086    60
Name: term, dtype: int64

###kolom 'emp_length

In [ ]:
# Cek values apa saja yang harus di cleaning
x_train['emp_length'].unique()

array(['5 years', '< 1 year', '10+ years', '6 years', '3 years', '1 year',
       nan, '4 years', '8 years', '9 years', '2 years', '7 years'],
      dtype=object)

In [ ]:
# kita hapusin keterangan tahun dan lain-lainnya, supaya hanya tersisa angka
x_train['emp_length'] = x_train['emp_length'].str.replace('\+', '', regex=True) # kegunaan regex=True adalah untuk nyocokin pola
x_train['emp_length'] = x_train['emp_length'].str.replace(r'\D', '', regex=True)  # Remove semua karakter non-digit

# Cara lebih detailnya, bisa kita ubah satu-satu.
# x_train['emp_length'] = x_train['emp_length'].str.replace("\+ years", '')
# x_train['emp_length'] = x_train['emp_length'].str.replace(' years', '')
# x_train['emp_length'] = x_train['emp_length'].str.replace('< 1 year', str(0))
# x_train['emp_length'] = x_train['emp_length'].str.replace(' year', '')


x_train['emp_length'].fillna(value = 0, inplace=True)
x_train['emp_length'] = pd.to_numeric(x_train['emp_length'])

<ipython-input-148-0d8e5b6dc43e>:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x_train['emp_length'].fillna(value = 0, inplace=True)

In [ ]:
x_train.emp_length

345211      5
741379      1
1248925    10
610328      6
187906      5
           ..
24027      10
458450     10
1292095    10
1028377     7
82242      10
Name: emp_length, Length: 1104344, dtype: int64

In [ ]:
# lakukan hal yang sama ke x_test
x_test['emp_length'] = x_test['emp_length'].str.replace('\+', '', regex=True) # kegunaan regex=True adalah untuk nyocokin pola
x_test['emp_length'] = x_test['emp_length'].str.replace(r'\D', '', regex=True)  # Remove semua karakter non-digit

x_test['emp_length'].fillna(value = 0, inplace=True)
x_test['emp_length'] = pd.to_numeric(x_test['emp_length'])

<ipython-input-150-461b94d91fda>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x_test['emp_length'].fillna(value = 0, inplace=True)

In [ ]:
x_test.emp_length

127029      2
236567      1
183902      0
126091      6
1335086    10
           ..
800934      3
87062      10
925065     10
538286      9
44845      10
Name: emp_length, Length: 276087, dtype: int64

###kolom 'Date'
berikut beberapa kolom tentang date :
1. 'issue_d',
2. 'earliest_cr_line',
3. 'last_pymnt_d',
4. 'next_pymnt_d',
5. 'last_credit_pull_d'

In [ ]:
# Cek feature date
col_date = ['issue_d', 'earliest_cr_line', 'last_pymnt_d',
                    'next_pymnt_d', 'last_credit_pull_d']

x_train[col_date]

,issue_d,earliest_cr_line,last_pymnt_d,next_pymnt_d,last_credit_pull_d
345211,Jan-2017,May-2007,Mar-2017,NaN,Sep-2017
741379,May-2017,Dec-2007,Dec-2017,Jan-2018,Dec-2017
1248925,Oct-2016,Jan-2001,May-2017,NaN,Dec-2017
610328,Mar-2016,Dec-2002,Aug-2016,NaN,Dec-2017
187906,Aug-2017,Apr-2009,NaN,Jan-2018,Dec-2017
...,...,...,...,...,...
24027,May-2016,Sep-1997,Aug-2017,NaN,Dec-2017
458450,Jan-2017,Oct-1986,Sep-2017,Jan-2018,Dec-2017
1292095,Mar-2016,Jul-2000,Dec-2017,Jan-2018,Dec-2017
1028377,Aug-2017,Apr-1996,Dec-2017,Jan-2018,Dec-2017
82242,May-2016,Jul-1998,Sep-2017,Jan-2018,Dec-2017

In [ ]:
x_train[col_date].info()

<class 'pandas.core.frame.DataFrame'>
Index: 1104344 entries, 345211 to 82242
Data columns (total 5 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   issue_d             1104344 non-null  object
 1   earliest_cr_line    1104344 non-null  object
 2   last_pymnt_d        1095272 non-null  object
 3   next_pymnt_d        642908 non-null   object
 4   last_credit_pull_d  1104318 non-null  object
dtypes: object(5)
memory usage: 50.6+ MB

krna masi objek, kita ubah ke Datetime

In [ ]:
for col in col_date:
    x_train[col] = pd.to_datetime(x_train[col])

<ipython-input-154-144a995d7323>:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  x_train[col] = pd.to_datetime(x_train[col])
<ipython-input-154-144a995d7323>:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  x_train[col] = pd.to_datetime(x_train[col])
<ipython-input-154-144a995d7323>:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  x_train[col] = pd.to_datetime(x_train[col])
<ipython-input-154-144a995d7323>:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  x_train[col] = pd.to_datetime(x_train[col])
<ipython-input-154-144a995d7323>:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  x_train[col] = pd.to_datetime(x_train[col])

In [ ]:
x_train[col_date].info()

<class 'pandas.core.frame.DataFrame'>
Index: 1104344 entries, 345211 to 82242
Data columns (total 5 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   issue_d             1104344 non-null  datetime64[ns]
 1   earliest_cr_line    1104344 non-null  datetime64[ns]
 2   last_pymnt_d        1095272 non-null  datetime64[ns]
 3   next_pymnt_d        642908 non-null   datetime64[ns]
 4   last_credit_pull_d  1104318 non-null  datetime64[ns]
dtypes: datetime64[ns](5)
memory usage: 50.6 MB

In [ ]:
# lakukan hal yang sama pada x_test
for col in col_date:
    x_test[col] = pd.to_datetime(x_test[col])

<ipython-input-156-a918e8e403a1>:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  x_test[col] = pd.to_datetime(x_test[col])
<ipython-input-156-a918e8e403a1>:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  x_test[col] = pd.to_datetime(x_test[col])
<ipython-input-156-a918e8e403a1>:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  x_test[col] = pd.to_datetime(x_test[col])
<ipython-input-156-a918e8e403a1>:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  x_test[col] = pd.to_datetime(x_test[col])
<ipython-input-156-a918e8e403a1>:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  x_test[col] = pd.to_datetime(x_test[col])

In [ ]:
x_test[col_date].info()

<class 'pandas.core.frame.DataFrame'>
Index: 276087 entries, 127029 to 44845
Data columns (total 5 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   issue_d             276087 non-null  datetime64[ns]
 1   earliest_cr_line    276087 non-null  datetime64[ns]
 2   last_pymnt_d        273783 non-null  datetime64[ns]
 3   next_pymnt_d        160441 non-null  datetime64[ns]
 4   last_credit_pull_d  276084 non-null  datetime64[ns]
dtypes: datetime64[ns](5)
memory usage: 12.6 MB

In [ ]:
# Check apakah berhasil di cleaning
x_test[col_need_to_clean].info()

<class 'pandas.core.frame.DataFrame'>
Index: 276087 entries, 127029 to 44845
Data columns (total 7 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   term                276087 non-null  int64
 1   emp_length          276087 non-null  int64
 2   issue_d             276087 non-null  datetime64[ns]
 3   earliest_cr_line    276087 non-null  datetime64[ns]
 4   last_pymnt_d        273783 non-null  datetime64[ns]
 5   next_pymnt_d        160441 non-null  datetime64[ns]
 6   last_credit_pull_d  276084 non-null  datetime64[ns]
dtypes: datetime64[ns](5), int64(2)
memory usage: 16.9 MB

oke, sekarang semua kolom yang kotor sebelumnya udah bersih (sesuai dengan keperluan modelling)

##Feature Engineering
pada tahap ini, kita akan sedikit merubah/menambah fitur data nya supaya bisa lebih akurat nanti modelnya

kita akan buat function terkait berapa lama nasabah tersebut nunggaknya, atau berapa lama lagi cicilan nasabah tersebut smpe lunasnya

In [ ]:
# Kolom yang akan di feature engineering
col_need_to_clean

['term',
 'emp_length',
 'issue_d',
 'earliest_cr_line',
 'last_pymnt_d',
 'next_pymnt_d',
 'last_credit_pull_d']

In [ ]:
X_train = x_train[col_need_to_clean]
X_test = x_test[col_need_to_clean]

X_train.head()

,term,emp_length,issue_d,earliest_cr_line,last_pymnt_d,next_pymnt_d,last_credit_pull_d
345211,36,5,2017-01-01,2007-05-01,2017-03-01,NaT,2017-09-01
741379,36,1,2017-05-01,2007-12-01,2017-12-01,2018-01-01,2017-12-01
1248925,36,10,2016-10-01,2001-01-01,2017-05-01,NaT,2017-12-01
610328,36,6,2016-03-01,2002-12-01,2016-08-01,NaT,2017-12-01
187906,36,5,2017-08-01,2009-04-01,NaT,2018-01-01,2017-12-01

In [ ]:
X_test.head()

,term,emp_length,issue_d,earliest_cr_line,last_pymnt_d,next_pymnt_d,last_credit_pull_d
127029,36,2,2016-08-01,2004-12-01,2017-08-01,2018-01-01,2017-12-01
236567,36,1,2016-08-01,1998-09-01,2017-10-01,2018-01-01,2017-12-01
183902,36,0,2016-07-01,2001-02-01,2017-05-01,NaT,2017-11-01
126091,36,6,2016-08-01,2004-08-01,2016-10-01,NaT,2017-03-01
1335086,60,10,2016-02-01,1995-08-01,2017-12-01,2018-01-01,2017-12-01

In [ ]:
# tidak dibutuhkan untuk feature engineering
del X_train['next_pymnt_d']
del X_test['next_pymnt_d']

In [ ]:
X_train.shape, X_test.shape

((1104344, 6), (276087, 6))

In [ ]:
from datetime import date

date.today().strftime('%Y-%m-%d') #<--------untuk liat skrg tanggal berapa

'2025-01-13'

In [ ]:
# kita coba lihat seperti apa data smentara kita
X_train.head()

,term,emp_length,issue_d,earliest_cr_line,last_pymnt_d,last_credit_pull_d
345211,36,5,2017-01-01,2007-05-01,2017-03-01,2017-09-01
741379,36,1,2017-05-01,2007-12-01,2017-12-01,2017-12-01
1248925,36,10,2016-10-01,2001-01-01,2017-05-01,2017-12-01
610328,36,6,2016-03-01,2002-12-01,2016-08-01,2017-12-01
187906,36,5,2017-08-01,2009-04-01,NaT,2017-12-01

In [ ]:
# kita coba untuk melihat durasi lamanya, contoh kita ambil dari kolom issue_d baris pertama
pd.to_datetime(date.today().strftime('%Y-%m-%d')) - pd.to_datetime('2017-02-01')

Timedelta('2903 days 00:00:00')

In [ ]:
2899/30

96.63333333333334

kesimpulannya, sudah selama 2899 hari (96 bulan) sejak dicairkan untuk pertama kali kepada si nasabah ini. ini termasuk sudah lumayan lama, apakah nasabah ini akan membayar atau tidak? nah, informasi ini akan sangat berguna untuk membuat akurasi model kita jadi lebih akurat.

ini juga berlaku untuk kolom lainnya, seperti earliest_cr_line, kolom yang menginformasikan kapan kartu kredit pertama kali diterbitkan. kita coba pada baris pertama earliest_cr_line

In [ ]:
pd.to_datetime(date.today().strftime('%Y-%m-%d')) - pd.to_datetime('1994-08-01')

Timedelta('11123 days 00:00:00')

nah, kesimpulannya berarti sudah sejak 11119 hari sejak kartu kredit pertama kali diterbitkan. nah, kita akan coba buat functionnya terlebih dulu supaya bisa di apply secara menyeluruh (ngga satu satu kya barusan)

In [ ]:
# feature engineering untuk kolom 'date'. tujuannya membuat kolom durasi (satuannya 'per bulan').
# supaya lebih mudah untuk diproses oleh modelnya nanti
def date_columns(df, column):
    today_date = pd.to_datetime(date.today().strftime('%Y-%m-%d')) #<--- mendefinisikan tanggal hari ini dgn format (yyyy-mm-dd)
    df[column] = pd.to_datetime(df[column], format = "%Y-%m-%d") #<---mendefinisikan kolom yang nanti dimasukan itu formatnya (yyyy-mm-dd))
    df['mths_since_' + column] = round(pd.to_numeric((today_date - df[column]) / np.timedelta64(1, 'D')/ 30.436875)) #<---fungsi ini berfungsi 'hari ini' - 'tanggal sesuai kolom' / perbulan.
    df.drop(columns = [column], inplace=True) #<--- ini ngehapus data kolom yang dimasukan, karena kan udh ada kolom mths_since

# apply to X_train
date_columns(X_train, 'earliest_cr_line')
date_columns(X_train, 'issue_d')
date_columns(X_train, 'last_pymnt_d')
date_columns(X_train, 'last_credit_pull_d')

<ipython-input-169-e0b8c307590b>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = pd.to_datetime(df[column], format = "%Y-%m-%d") #<---mendefinisikan kolom yang nanti dimasukan itu formatnya (yyyy-mm-dd))
<ipython-input-169-e0b8c307590b>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['mths_since_' + column] = round(pd.to_numeric((today_date - df[column]) / np.timedelta64(1, 'D')/ 30.436875)) #<---fungsi ini berfungsi 'hari ini' - 'tanggal sesuai kolom' / perbulan.
<ipython-input-169-e0b8c307590b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns = [column], inplace=True) #<--- ini ngehapus data kolom yang dimasukan, karena kan udh ada kolom mths_since
<ipython-input-169-e0b8c307590b>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = pd.to_datetime(df[column], format = "%Y-%m-%d") #<---mendefinisikan kolom yang nanti dimasukan itu formatnya (yyyy-mm-dd))
<ipython-input-169-e0b8c307590b>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['mths_since_' + column] = round(pd.to_numeric((today_date - df[column]) / np.timedelta64(1, 'D')/ 30.436875)) #<---fungsi ini berfungsi 'hari ini' - 'tanggal sesuai kolom' / perbulan.
<ipython-input-169-e0b8c307590b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns = [column], inplace=True) #<--- ini ngehapus data kolom yang dimasukan, karena kan udh ada kolom mths_since
<ipython-input-169-e0b8c307590b>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = pd.to_datetime(df[column], format = "%Y-%m-%d") #<---mendefinisikan kolom yang nanti dimasukan itu formatnya (yyyy-mm-dd))
<ipython-input-169-e0b8c307590b>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['mths_since_' + column] = round(pd.to_numeric((today_date - df[column]) / np.timedelta64(1, 'D')/ 30.436875)) #<---fungsi ini berfungsi 'hari ini' - 'tanggal sesuai kolom' / perbulan.
<ipython-input-169-e0b8c307590b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns = [column], inplace=True) #<--- ini ngehapus data kolom yang dimasukan, karena kan udh ada kolom mths_since
<ipython-input-169-e0b8c307590b>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = pd.to_datetime(df[column], format = "%Y-%m-%d") #<---mendefinisikan kolom yang nanti dimasukan itu formatnya (yyyy-mm-dd))
<ipython-input-169-e0b8c307590b>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['mths_since_' + column] = round(pd.to_numeric((today_date - df[column]) / np.timedelta64(1, 'D')/ 30.436875)) #<---fungsi ini berfungsi 'hari ini' - 'tanggal sesuai kolom' / perbulan.
<ipython-input-169-e0b8c307590b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns = [column], inplace=True) #<--- ini ngehapus data kolom yang dimasukan, karena kan udh ada kolom mths_since

In [ ]:
X_train.head()

,term,emp_length,mths_since_earliest_cr_line,mths_since_issue_d,mths_since_last_pymnt_d,mths_since_last_credit_pull_d
345211,36,5,212.0,96.0,94.0,88.0
741379,36,1,205.0,92.0,85.0,85.0
1248925,36,10,288.0,99.0,92.0,85.0
610328,36,6,265.0,106.0,101.0,85.0
187906,36,5,189.0,89.0,NaN,85.0

In [ ]:
# kita lakukan pada data X_test
date_columns(X_test, 'earliest_cr_line')
date_columns(X_test, 'issue_d')
date_columns(X_test, 'last_pymnt_d')
date_columns(X_test, 'last_credit_pull_d')

<ipython-input-169-e0b8c307590b>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = pd.to_datetime(df[column], format = "%Y-%m-%d") #<---mendefinisikan kolom yang nanti dimasukan itu formatnya (yyyy-mm-dd))
<ipython-input-169-e0b8c307590b>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['mths_since_' + column] = round(pd.to_numeric((today_date - df[column]) / np.timedelta64(1, 'D')/ 30.436875)) #<---fungsi ini berfungsi 'hari ini' - 'tanggal sesuai kolom' / perbulan.
<ipython-input-169-e0b8c307590b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns = [column], inplace=True) #<--- ini ngehapus data kolom yang dimasukan, karena kan udh ada kolom mths_since
<ipython-input-169-e0b8c307590b>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = pd.to_datetime(df[column], format = "%Y-%m-%d") #<---mendefinisikan kolom yang nanti dimasukan itu formatnya (yyyy-mm-dd))
<ipython-input-169-e0b8c307590b>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['mths_since_' + column] = round(pd.to_numeric((today_date - df[column]) / np.timedelta64(1, 'D')/ 30.436875)) #<---fungsi ini berfungsi 'hari ini' - 'tanggal sesuai kolom' / perbulan.
<ipython-input-169-e0b8c307590b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns = [column], inplace=True) #<--- ini ngehapus data kolom yang dimasukan, karena kan udh ada kolom mths_since
<ipython-input-169-e0b8c307590b>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = pd.to_datetime(df[column], format = "%Y-%m-%d") #<---mendefinisikan kolom yang nanti dimasukan itu formatnya (yyyy-mm-dd))
<ipython-input-169-e0b8c307590b>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['mths_since_' + column] = round(pd.to_numeric((today_date - df[column]) / np.timedelta64(1, 'D')/ 30.436875)) #<---fungsi ini berfungsi 'hari ini' - 'tanggal sesuai kolom' / perbulan.
<ipython-input-169-e0b8c307590b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns = [column], inplace=True) #<--- ini ngehapus data kolom yang dimasukan, karena kan udh ada kolom mths_since
<ipython-input-169-e0b8c307590b>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = pd.to_datetime(df[column], format = "%Y-%m-%d") #<---mendefinisikan kolom yang nanti dimasukan itu formatnya (yyyy-mm-dd))
<ipython-input-169-e0b8c307590b>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['mths_since_' + column] = round(pd.to_numeric((today_date - df[column]) / np.timedelta64(1, 'D')/ 30.436875)) #<---fungsi ini berfungsi 'hari ini' - 'tanggal sesuai kolom' / perbulan.
<ipython-input-169-e0b8c307590b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns = [column], inplace=True) #<--- ini ngehapus data kolom yang dimasukan, karena kan udh ada kolom mths_since

In [ ]:
X_test.head()

,term,emp_length,mths_since_earliest_cr_line,mths_since_issue_d,mths_since_last_pymnt_d,mths_since_last_credit_pull_d
127029,36,2,241.0,101.0,89.0,85.0
236567,36,1,316.0,101.0,87.0,85.0
183902,36,0,287.0,102.0,92.0,86.0
126091,36,6,245.0,101.0,99.0,94.0
1335086,60,10,353.0,107.0,85.0,85.0

okay sip, sekarang kita cek kembali Missing Value nya, kali aja ada

In [ ]:
X_train.isnull().sum()

term                                0
emp_length                          0
mths_since_earliest_cr_line         0
mths_since_issue_d                  0
mths_since_last_pymnt_d          9072
mths_since_last_credit_pull_d      26
dtype: int64

In [ ]:
X_test.isnull().sum()

term                                0
emp_length                          0
mths_since_earliest_cr_line         0
mths_since_issue_d                  0
mths_since_last_pymnt_d          2304
mths_since_last_credit_pull_d       3
dtype: int64

In [ ]:
# kita isi aja pakai median
X_train.fillna(X_train.median(), inplace=True)
X_test.fillna(X_test.median(), inplace=True)

<ipython-input-175-2f996d4a3ed8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train.fillna(X_train.median(), inplace=True)
<ipython-input-175-2f996d4a3ed8>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test.fillna(X_test.median(), inplace=True)

In [ ]:
X_train.shape, X_test.shape

((1104344, 6), (276087, 6))

##Modelling
untuk persoalan kita kali ini, yaitu 'Binary Classification', kita akan coba dulu dengan model yang paling sederhana, yaitu logistic regression. baru setelah dicoba dan ternyata kurang memuaskan, kita coba tambah datanya lagi atau ganti pakai model yang lebih kompleks. jadi, aturannya adalah pakai dulu model paling ssederhana, kalau kurang bagus, baru ke yang lebih kompleks seperti Deission Tree atau Random Forest

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
model = LogisticRegression()

In [ ]:
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [ ]:
result = pd.DataFrame(list(zip(y_pred,y_test)), columns = ['y_pred', 'y_test'])
result.head()

   y_pred  y_test
0       1       1
1       0       1
2       1       1
3       1       1
4       0       0

dari list diatas, prediksi kita meleset satu, pada index 1, di prediksi 0, tapi di jawabannya (y_test) nya adalah 1

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.8265256966101265

##Cek Evaluasi Model

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.79      0.91      0.84    140575
           1       0.89      0.74      0.81    135512

    accuracy                           0.83    276087
   macro avg       0.84      0.83      0.82    276087
weighted avg       0.83      0.83      0.83    276087

In [ ]:
# kita coba liat pemerataan data nya
y_train.value_counts(normalize=True)

good_bad
0    0.509171
1    0.490829
Name: proportion, dtype: float64

berdasarkan data diatas, nilai 0 (good loan) nya sebanyak 50%% dan nilai 1 (bad loan) nya sebanyak 49%. ini menandakan kalau dalam kasus ini, sudah tidak terjadi imbalance class (kelas yang tidak seimbang), karena pada sebelumnya sudah diseimbangkan antara nilai 0 dan 1 (pada feature good_bad)

kita coba cek skor secara keseluruhan, maksudnya selain accuracy (precision, recall, f1-score)

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.79      0.91      0.84    140575
           1       0.89      0.74      0.81    135512

    accuracy                           0.83    276087
   macro avg       0.84      0.83      0.82    276087
weighted avg       0.83      0.83      0.83    276087

jika diperhatikan, sudah tidak ada ketimpangan yang signifikan antara nilai 0 dan 1 pada setiap macam evaluasi model (mungkin hanya recall, 0 nya 91, 1 nya 74).

maka dari itu, model bisa dikatakan baik

In [ ]:
# kita akan pakai mode coef untuk menginterretasikannya
model.coef_

array([[ 0.01277738, -0.02900513, -0.00065616,  0.03360602,  0.47086017,
        -0.40251248]])

In [ ]:
df_coeff = pd.DataFrame(model.coef_, columns=X_train.columns)
df_coeff

,term,emp_length,mths_since_earliest_cr_line,mths_since_issue_d,mths_since_last_pymnt_d,mths_since_last_credit_pull_d
0,0.012777,-0.029005,-0.000656,0.033606,0.47086,-0.402512

sebelumnya, kita jabarkan dulu mengenai fitur fiturnya

term: Durasi pinjaman.

emp_length: Lama masa kerja.

mths_since_earliest_cr_line: Jumlah bulan sejak rekening kredit pertama dibuka.

mths_since_issue_d: menunjukan sejak berapa bulan  duitnya dicairkan

mths_since_last_pymnt_d: Jumlah bulan sejak pembayaran terakhir.

mths_since_last_credit_pull_d: Jumlah bulan sejak laporan kredit terakhir ditarik.

ketika bernilai positif, maka loan tersebut cenderung akan gagal bayar, dan jika nilai negatif, maka cenderung tidak akan gagal bayar

mari kita bahasakan.
* untuk yang kolom term (durasi pinjaman), semakin tinggi term (jangka waktu (dalam satuan bulan) dalam melunaskan utang), maka semakin tinggi juga probabilitas kecenderungan gagal bayar (cenderung galbay)
* untuk emp_length (lama masa kerja nasabah tersebut diekerjaannya), semakin lama dia bekerja, krna disitu negatif, maka menunjukan bahwa nasabah dgn emp_length yang tinggi akan cenderung membayar hutang, karena berarti pekerjaannya stabil sehingga mampu untuk melunasi hutangnya.
* untuk mths_since_earliest_cr_line, semakin lama nasabah tersebut sudah tergabung, maka kemungkinannya nasabah tersebut akan membayar atau tidak akan galbay (ditandai dgn nilai negatif)
* untuk mths_since_issue_d, yang menunjukan sejak berapa bulan  duitnya dicairkan, maka semakin besar bulannya (artinya semakin sudah lama nasabah tersebut berhutang), maka nasabah tersebut cenderung galbay (ditandai dgn nilai yang positif dan termasuk tinggi)
* untuk mths_since_last_pymnt_d, Jumlah bulan sejak pembayaran terakhir, dimana semakin besar jumlahh bulan sejak nasabah tersebut membayar cicilannya (yang artinya nunggak), maka semakin besar juga kecenderungan nasabah tersebut gagalbayar. karena diperkirakan nasabah tersebut akan menunggak lagi nantinya.